<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ta--center">CatBreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" role="feed">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CatBreeds</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [formControl]="filterTerm"></ion-searchbar>

  @for (breed of breeds(); track breed.id; let index = $index) {
  <ion-card class="breed">
    <ion-list lines="none">
      <ion-item>
        <ion-card-title>
          <ion-label>
            Nombre de raza: {{ breed.name }}
          </ion-label>
        </ion-card-title>
        <ion-button slot="end" shape="round" color="light" [routerLink]="['/breed', breed.id]">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>
          Pais de Origen: {{ breed.origin }}
        </ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-img class="cb-img--fill-center w--100p h--20rem" [src]="breed.image?.url" [alt]="breed.name"></ion-img>
      </ion-item>
      <ion-item>
        <ion-label>Inteligencia: {{ breed.intelligence }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  }
  <ion-infinite-scroll (ionInfinite)="handleIonInfinite($event)" [disabled]="!canScroll()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
